doctype html
html
  head
    title Google Clone
    style
      include ../static/style.css

       
    body 
     <div class="header">
        <li><i class="fa-brands fa-twitter">  twitter</i></li>
        <li><i class="fa-brands fa-facebook"> facebook</i></li>
        <li><i class="fa-brands fa-whatsapp">  whatsapp</i></li>
        <li><i class="fa-brands fa-twitter">  twitter</i></li>
        <li><i class="fa-brands fa-twitter">  twitter</i></li>
    </div>
   
    <hr>

    <div class="gmail">
        <ul>
        <li><a href="https://mail.google.com/mail/u/0/#inbox">Gmail </a> </li>
        <li>Images</li>
        <li><i class="fa-sharp fa-solid fa-bars"></i></li>
        <img src="static/B.jpeg " class="logo">
    </ul>
    </div>

    <div class="google">
        <center><h1>Google</h1></center>
        <br>
    <div class="h">
       <span ><input type="text" class="contain"  placeholder="&nbsp ðŸ” &nbsp Search Google or type a URL&nbsp&nbsp                                                            &nbsp &nbsp  ðŸŽ™ï¸"></span>
       <span class="Micro"><a href="https://www.google.com/search?q=hello&gs_ivs=1#tts=0"><i class="fa-solid fa-microphone"></i></a></span>
       
       <br><br>

    <div class="hh" >
        <div class="youtube"><br><i class="fa-brands fa-chrome"></i><br><br><br>
            <span>web&nbspstore</span>
        </div>
        <div class="youtube"><br> <a href="https://www.youtube.com/" <i class="fa-brands fa-youtube"</i> </a><br><br><br>
            <span>youtube</span>
        </div>
        <div class="youtube" ><br><i class="fa-solid fa-plus"></i> 
            <br><br><br> <span>Add&nbspshortcut</span>

        </div>

    </div>
</div>
</div>

<footer>
    <div class="footer">
        <button class="btn"><i class="fa-solid fa-pen"></i>  &nbsp Customise Chrome</button>
</footer>

<script src="https://kit.fontawesome.com/af913e9176.js" crossorigin="anonymous"></script>

   